@import "../../../styles.css";

.icon-button {
  height: 100%;
  width: 100%;
  border: none;

  background: var(--PRIMARY-COLOR-LIGHTER);
  border-radius: var(--BORDER-RADIUS);

  cursor: pointer;
}
