@import "../../styles.css";

.title {
  font-weight: bold;
  text-align: center;
  margin: 0;

  font-family: var(--PRIMARY-FONT-FAMILY);
  font-style: var(--PRIMARY-FONT-STYLE);
}

.streach {
  height: 100%;

  flex: 1;
  overflow: auto;
  padding: 0 5%;

  font-family: var(--PRIMARY-FONT-FAMILY);
  font-style: var(--PRIMARY-FONT-STYLE);
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.header-wrapper {
  margin-top: 10px;
  margin-bottom: 5px;
}

.header-separator {
  width: 99%;
  border: 2px solid var(--SECONDARY-COLOR-LIGHTER);
}
