@import "../../../styles.css";

.side-bar-header-wrapper {
  height: 7%;
  margin-top: 15px;
  margin-bottom: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 30%;
  height: 100%;

  background-image: url("../../../../public/images/dislinkt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.logo-title {
  font-size: 24px;
  font-family: var(--PRIMARY-FONT-FAMILY);
  font-style: var(--PRIMARY-FONT-STYLE);
  font-weight: 700;
  white-space: nowrap;
}
