@import "../../../styles.css";

.side-bar-header-wrapper {
  height: 15%;
  margin-top: 30px;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 15%;

  display: flex;
  justify-content: center;
}

.dislinkt-logo {
  width: 100%;

  background-image: url("../../../../public/images/dislinkt.png");
  background-size: contain;
  background-repeat: no-repeat;
}
