.pictures-wrapper {
  overflow: auto;
}

.pictures-wrapper::-webkit-scrollbar {
  background: transparent;
  height: 10px;
  width: 0px;
}

.pictures {
  display: inline-flex;
  margin-top: 20px;
}

.picture {
  height: 200px;
  width: 300px;
  margin: 5px;
  border: 2px solid var(--PRIMARY-COLOR-DARKER);
  border-radius: var(--BORDER-RADIUS);

  background-size: contain;
  background-repeat: no-repeat;
}
