.profile {
  padding-bottom: 15px;
  margin: 0 15px;
}

.profile-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 5fr 1fr;
  position: relative;
  height: 200px;
}

.profile-header-cover {
  grid-column: 1 / -1;
  grid-row: 1;
  background-image: url("../../../../public/images/cover3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-header-image {
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  padding-top: 25%;
  padding-left: 20%;
  z-index: 1;
}

.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: var(--SECONDARY-COLOR);
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-content {
  display: flex;
  align-items: flex-end;
}

.content {
  width: 90%;
}

.full-name {
  line-height: 28px;
  font-size: 24px;
  margin: 1% 1% 0% 5%;
}

.username {
  color: grey;
  line-height: 20px;
  font-size: 18px;
  margin-left: 3%;
}

.dot {
  color: grey;
  margin: 0 10px;
}

.info {
  margin-left: 5%;
  margin-top: 1%;
  color: grey;
  line-height: 18px;
  font-size: 16px;
}

.edit-button {
  width: 49px;
  height: 41px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action-button {
  display: block;
  border: none;

  margin: 10px 0;
  padding: 5px 10px;

  font-size: 14px;
  font-weight: 600;

  background: var(--SECONDARY-COLOR-LIGHTER);
  border-radius: var(--BORDER-RADIUS);

  cursor: pointer;
}
.action-button:hover {
  background-color: var(--SECONDARY-COLOR);
}
.action-button:active {
  background-color: var(--SECONDARY-COLOR);
}
.action-button:focus-visible {
  outline: 1.5px solid var(--SECONDARY-COLOR);
}

.block-button {
  display: block;
  border: none;

  margin: 10px 0;
  padding: 5px 10px;

  font-size: 14px;
  font-weight: 600;

  color: var(--DANGER);
  background: white;
  border: 1px solid var(--DANGER);
  border-radius: var(--BORDER-RADIUS);

  cursor: pointer;
}
.block-button:hover {
  border: 1.5px solid var(--DANGER);
}
.block-button:active {
  border: 1.5px solid var(--DANGER);
}
.block-button:focus-visible {
  outline: 1.5px solid var(--DANGER);
}
