@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,700;1,500&display=swap");

:root {
  --PRIMARY-COLOR: #f7c0a3;
  --SECONDARY-COLOR: #eff4f6;

  --PRIMARY-FONT-FAMILY: "Nunito", sans-serif;
  --PRIMARY-FONT-STYLE: "normal";
}
