@import url("https://fonts.googleapis.com/css2?family=Nunito");

:root {
  /*COLORS*/

  --PRIMARY-COLOR: #f7c0a3;
  --PRIMARY-COLOR-LIGHTER: #f7d1bd;
  --PRIMARY-COLOR-DARKER: #efaa85;

  --SECONDARY-COLOR: #dfe7f5;
  --SECONDARY-COLOR-LIGHTER: rgb(183, 201, 226, 0.2);

  --DARK-GREY: #b8b8b8;
  --LIGHT-GREY: #f6f6f6;
  --VERY-LIGHT-GREY: #eeeeee;
  --WHITE-LIGHTER: rgba(255, 255, 255, 0.3);

  --DANGER: #ff7e92;
  --WARNING: #e2db70;
  --SUCCESS: rgba(72, 202, 70, 0.6);
  --ERROR: rgba(255, 126, 146, 0.6);

  /*FONTS*/

  --PRIMARY-FONT-FAMILY: "Nunito", sans-serif;
  --PRIMARY-FONT-STYLE: "normal";

  /*STYLES*/

  --BORDER-RADIUS: 10px;
  --BORDER-RADIUS-SMALL: 5px;
  --SIDE-BAR-BOX-SHADOW: 5px 0px 10px rgba(0, 0, 0, 0.15);
}
