.discussions {
  flex: 1;
  overflow: auto;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;

  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--SECONDARY-COLOR);
  display: inline-block;
}

.discussions::-webkit-scrollbar {
  background: transparent;
  height: 10px;
  width: 0px;
}
