@import "../../styles.css";

.streach {
  height: 100%;

  flex: 1;
  overflow: auto;
  padding: 0 10% 35px 10%;

  font-family: var(--PRIMARY-FONT-FAMILY);
  font-style: var(--PRIMARY-FONT-STYLE);
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.add-button {
  width: 49px;
  height: 41px;
  position: fixed;
  right: 2%;
  bottom: 40px;

  z-index: 1;
}
