@import "../../../styles.css";

.manage-item-wrapper {
  min-height: 40px;

  border-top: 1px solid var(--VERY-LIGHT-GREY);
  border-bottom: 1px solid var(--VERY-LIGHT-GREY);

  display: flex;
  align-items: center;

  font-family: var(--PRIMARY-FONT-FAMILY);
  font-style: var(--PRIMARY-FONT-STYLE);
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.manage-item {
  height: 100%;
  width: 100%;
  padding: 10px 1px;

  display: flex;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
}

.main {
  font-weight: 600;
}

.blur {
  opacity: 0.4;
}

.actions {
  margin-left: auto;
  margin-right: 1%;
}

.delete-button {
  width: 10%;
  min-height: 50px;
  height: inherit;

  background: var(--DANGER);
  border: none;

  color: white;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;

  text-align: center;

  cursor: pointer;
}
