@import "../../../styles.css";

.label {
  font-weight: bold;
  margin: 0;

  font-family: var(--PRIMARY-FONT-FAMILY);
  font-style: var(--PRIMARY-FONT-STYLE);
}

.sing-up-form {
  margin: 3% 0;
  text-align: center;
}

.form-row {
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin: 10px 0;
}

.toggle-label {
  min-width: 200px;
  text-align: start;
}

.fields {
  margin: 5% 10%;
}

.button {
  margin: 10px 40%;
}
