@import "../../../styles.css";

.card-wrapper {
  border-top: 15px solid var(--PRIMARY-COLOR);
  border-radius: var(--BORDER-RADIUS);

  margin-top: 40px;
  padding: 30px 40px 30px 40px;

  background: white;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);

  color: rgba(0, 0, 0, 0.8);
  font-family: var(--PRIMARY-FONT-FAMILY);
  font-style: var(--PRIMARY-FONT-STYLE);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;

  display: flex;
}

.card-title {
  width: 25%;
}

.card-info {
  width: 50%;
  padding-left: 5%;
}

.card-date {
  width: 20%;
  padding-left: 2%;
}

.picture {
  height: 80%;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  background-image: url("../../../../public/images/empty-entity-list.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.profile {
  padding-top: 10px;
  text-align: center;
}

.position {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
}

.description {
  padding-bottom: 10px;
}

.qual {
  display: inline-block;
  margin-top: 10px;
  margin-right: 15px;
  padding: 8px;
  background-color: var(--PRIMARY-COLOR-LIGHTER);
  color: white;
  border-radius: var(--BORDER-RADIUS);
}

.date {
  padding: 10px 0;
}
